h1
{
    text-align: center;
    
}
h2
{
    text-align: center;
}
.it
{
    color:red;
}
h3
{
    font-weight: 100;
}

.red
{
    color:red
}

.green
{
    color: green    
}
.darkblue
{
    color: darkblue
}
.line-trought
{
    text-decoration: line-through;
}
h5
{
    text-align: center;
    
}